:root {
  /* place custom var here */
  --main-color: #162642;
  --token-color: #e35547;
  --token-color-shadow: #a63f35;
  --alt-token-color: #23bfa1;
  --alt-token-color-shadow: #187d68;
  --page-color: #6e7992;
  --cell-size: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--page-color);

  padding: 7vh 0;
}

/* FOR HEADER */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.message {
  margin-top: 2vh;
}

/* MAIN CONTENT */
.main-content {
  display: flex;
  justify-content: space-around;
}
/* FOR PLAYER-INFO-SECTION */

.player {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10vh;
  width: 18vw;
  padding: 2vw;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.score-container p {
  font-size: 10rem;
}

.player.one {
  background-color: var(--token-color);
  border: 3px solid var(--token-color-shadow);
}

.player.two {
  background-color: var(--alt-token-color);
  border: 3px solid var(--alt-token-color-shadow);
}

/* FOR GAMEBOARD */

.game-board {
  display: grid;
  grid-template: repeat(3, var(--cell-size)) / repeat(3, var(--cell-size));
  gap: 3vh;

  border-radius: 1.5rem;
  padding: 1.8rem;

  background-color: var(--main-color);

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* PARA SA CELLS ODD N EVEN */
.game-board div:nth-child(odd) {
  width: 100%;
  height: 100%;

  background-color: var(--alt-token-color);
  border-radius: 4px 7px 7px 4px;
  box-shadow: 1.7px 3px 0 3px var(--alt-token-color-shadow);
}

.game-board div:nth-child(even) {
  width: 100%;
  height: 100%;

  background-color: var(--token-color);

  box-shadow: 1.7px 3px 0 3px var(--token-color-shadow);
}

.game-board div {
  text-align: center;
  font-size: 8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 3px 7px 7px 4px;
}

/* ANIMATION NG CELLS  */

.game-board div:hover {
  transform: translate3d(1.7px, 3px, 0);
  box-shadow: none;
}

.game-board div:nth-child(odd):active {
  transform: translate3d(2.5px, 3.8px, 0);
  box-shadow: inset 2px 3.5px 0 3px var(--alt-token-color-shadow);
}

.game-board div:nth-child(even):active {
  transform: translate3d(2.5px, 3.8px, 0);
  box-shadow: inset 2px 3.5px 0 3px var(--token-color-shadow);
}
/* CHANGE CELL COLOR IF WINNER. ADD THIS CLASS TO THE CELL */
.game-board div.win {
  background-color: gold;
}
